<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../Static/img/favicon.ico" type="image/x-icon">
    <!-- hoja de estilos CCS -->
    <link rel="stylesheet" href="../Static/css/estilos.css">
    <title>Gastranomía La Mejor |  Menú</title>
</head>

<body>
    <header>
        <table>
            <tr>
                <td><img src="../Static/img/logo.png" alt="Logo" width="90"></td>
                <td><h1>La Mejor</h1></td>
            </tr>
        </table>
        <hr>
        <nav>
            <h3>Menú</h3>
            <ul class="menu">
                <li><a class="menu__boton" href="/index.html">Inicio</a></li>
                <li><a class="menu__boton" href="./quienes.html">¿Quiénes somos?</a></li>
                <li><a class="menu__boton" href="./menu.html">Menú</a></li>
                <li><a class="menu__boton" href="./contacto.html">Contacto</a></li>
            </ul>
            <hr> 
        </nav>
    </header>
  
    
    <main>
        <h2>Menú</h2>

        <article>
            <p>Bife de chorizo</p>
            <img src="../Static/img/bife.jpg" alt="bife" width="50%">
        </article>

        <article>
            <p>Choripán</p>
            <img src="../Static/img/choripan.jpg" alt="choripan" width="50%">
        </article>

        <article>
            <p>Paella</p>
            <img src="../Static/img/paella.jpg" alt="paella" width="50%">
        </article>

        <article>
            <p>Pizza</p>
            <img src="../Static/img/pizza.jpg" alt="pizza" width="50%">
        </article>
  
    </main>

    <footer id="footer">
        <hr>
        <h3>Tel - Mar del Plata: 0223 534 4343</h3>
        <h3>Tel - Buenos Aires: 011 4353 4343</h3>
        
    </footer>


</body>
</html>