<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../Static/img/favicon.ico" type="image/x-icon">
    <!-- hoja de estilos CCS -->
    <link rel="stylesheet" href="../Static/css/estilos.css">
    <title>Gastranomía La Mejor |  ¿Quienes Somos?</title>
</head>

<body>
    <header>
        <table>
            <tr>
                <td><img src="../Static/img/logo.png" alt="Logo" width="90"></td>
                <td><h1>La Mejor</h1></td>
            </tr>
        </table>
        <hr>
        <nav>
            <h3>¿Quienes Somos?</h3>
            <ul class="menu">
                <li><a class="menu__boton" href="/index.html">Inicio</a></li>
                <li><a class="menu__boton" href="/Templates/quienes.html">¿Quiénes somos?</a></li>
                <li><a class="menu__boton" href="./menu.html">Menú</a></li>
                <li><a class="menu__boton" href="./contacto.html">Contacto</a></li>
            </ul>
            <hr> 
        </nav>
    </header>
    
    
    <main>
      
        <article>
            <h2>Restaurante de Mar del Plata</h2>
            <p>Actualmente <em>La Mejor</em> tiene juegos para los más pequeños, en un salón especial. También se realizan eventos en fechas destacadas como fin de año, cumpleaños del local y otros motivos especiales</p>
            <img src="../Static/img/restomdq.jpg" alt="Imagen del restaurante de Mar del Plata" width="50%">
            <h2>Dónde nos encontramos</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14526.40934905949!2d-57.55451054064969!3d-38.01714467461506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584d94d19d34209%3A0xdd9670804bfed126!2sMar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1712713707418!5m2!1ses!2sar" width="50%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </article>
       

        <article>
            <h2>Restaurante de Buenos Aires</h2>
            <p><em>La Mejor</em>, en San Telmo, realiza shows en vivo con temáticas diferentes cada fin de semana. Para aquellos que tengan ganas de participar pueden comunicarse con nosortos, serán bienvenidos todos los artistas</p>
            <img src="../Static/img/restosan-telmo.jpg" alt="Imagen del restaurante de Buenos Aires" width="50%">
            <h2>Dónde nos encontramos</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23404.205357445924!2d-58.4027383968257!3d-34.609433140648235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1712713829815!5m2!1ses!2sar" width="50%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </article>
        
    </main>

    <footer id="footer">
        <hr>
        <h3>Tel - Mar del Plata: 0223 534 4343</h3>
        <h3>Tel - Buenos Aires: 011 4353 4343</h3>
        
    </footer>


</body>
</html>